span.css-10trblm.eqr7zpz0 {
    font-size: 50px;
    font-family: "Times New Roman";
    color:azure;
}
header.css-1avcm0n.e13qjvis2{
    background-color: black;
}
div.appview-container.css-1wrcr25.e1g8pov66 {
    background-color: black;
}
p{
    color:antiquewhite;
    font-size: 15px;
}
div.css-6qob1r.e1akgbir3{
    background-color: #0E2954;
}
a.css-nziaof.e1akgbir6{
    color:aliceblue;
}